<div id="about_container">
	<div id="about_image">
		<img src="/images/stephanie.jpg">
	</div>
	<div id="about_header">
		<h1>Meet Stephanie Pafford</h1>
	</div>
	<div id="about_content">
		<p>As a practitioner of yoga my life has been transformed. I truly believe that you can’t practice yoga without having a change regardless in what shape or form it is transforming, can be magical, and a blessing for some.The first time I stepped on a mat I felt like I was home and something stirred inside of me and the journey began. I have experienced a love for myself that was non-existent before yoga and acceptance of all things regardless if perceived as good or bad I am present and whole.</p>

		<p>I come from a background where athletics have always been in my life so I started my journey as a Personal Trainer and trained extensively with back issues, as this was a particular issue for me before yoga, active older adults, core and stability issues and worked with teens. I had this false belief that yoga was “easy” so not for me, boy was I wrong.</p>

		<p>Through “asana” (postures) I was moved to become an instructor and received my 200 Hour teacher training certification and 100 Hour restorative training. I have explored the deeper aspects of yoga with meditation, such a challenge for me, and pranayama. I am an E-RYT 200/500 with Yoga Alliance, an ACE Certified Personal Trainer, Egoscue Pain, Posture & Performance trained, Completion of Nutrition for Professional.</p>
		
		<p>I am the director of Akasha Yoga Studio in La Jolla, California. I welcome all into class and trainings and encourage you to go above and beyond any expectations and limitations.<p>
		
		<p>I am now taking private clients for <a href="http://neurogenic-yoga.squarespace.com/aboutneurogenicyoga/">Neurogenic Yoga</a>. This type of practice is beneficial for people with high stress, ptsd, trauma, and back issues. Mentoring is offered on a 3 or 6 month basis. Personal Training clients commit to a 12 week lifestyle program and includes meditation, hiking, yoga, and traditional approach, My approach is to change the inside and then the outside will change cultivating health and vitality in mind, body and spirit for a lifetime.</p>
	</div>
</div>