<div class="cover">
        <h1>Contact</h1>
</div><br>
<!--
<div class="container">
           		<form action="" class="form-horizontal">
             		<div class="form-group">
               		<b class="col-lg-2 control-label">Phone:</b><br>
                    <b class="col-lg-2 control-label">(510)589689</b><br>    
                    <b class="col-lg-2 control-label">Name</b>
               		<div class="col-lg-10">
                 		<input type="text" class="form-control" id="user-name" name="email" placeholder="Enter your name">
                    </div>
             		</div>
             		<div class="form-group">
               			<b class="col-lg-2 control-label">Email</b>
              <div class="col-lg-10">
                 <input type="text" class="form-control" id="user-email" name="email" placeholder="Enter your email address">
               </div>
             </div>
             <div class="form-group">
               <b class="col-lg-2 control-label">Any Message:</b>
               <div class="col-lg-10">
                 <textarea name="user-message" id="user-message" class="form-control"
                 cols="10" rows="10" placeholder="Enter your Message"></textarea>
               </div>
             </div>
             <div class="form-group">
               <div class="col-lg-10 col-lg-offset-2">
                 <button type="submit" class="btn btn-warning navbar-btn">Submit</button>
               </div>
             </div>
           </form>
</div>
-->
    <div class="container contact_page">
        <div class="row">
         	<div class="col-lg-4">
           	 	<table id="contact_infoTable">
                <tr>
                  <td class="contact_icons"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></td>
                  <td>858-622-YOGA (9642)</td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></td>
                  <td>email@stephpafford.com</td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i></td>
                  <td>La Jolla, San Diego, CA</td>
                </tr>
           		</table>
              <table id="contact_mediaTable">
                <tr>
                  <td class="contact_icons"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></td>
                  <td><a href="https://www.facebook.com/Akasha-Yoga-179861268747978/">Akasha Yoga</a></td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></td>
                  <td><a href="https://twitter.com/AKASHA_YOGA">@Akasha_Yoga</a></td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></td>
                  <td><a href="https://www.instagram.com/stephaniepaffordyoga/">stephaniepaffordyoga</a></td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-youtube fa-fw" aria-hidden="true"></i></td>
                  <td><a href="https://www.youtube.com/channel/UC9s558-O--ttyZK1XDwAkbQ">Akasha Yoga La Jolla</a></td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-yelp fa-fw" aria-hidden="true"></i></td>
                  <td><a href="https://www.yelp.com/biz/akasha-yoga-la-jolla">Akasha Yoga</a></td>
                </tr>
                <tr>
                  <td class="contact_icons"><i class="fa fa-google-plus fa-fw" aria-hidden="true"></i></td>
                  <td><a href="https://plus.google.com/u/0/100539888429418153850">Steph Pafford</a></td>
                </tr>
              </table>
         	</div>
         	<div class="col-lg-8">
           		<form action="" class="form-horizontal">
             		<div class="form-group">
               		<b class="col-lg-2 control-label" style="font-size:20px">Name</b>
               		<div class="col-lg-10">
                 		<input type="text" class="form-control" id="user-name" name="email" placeholder="Enter your name">
               		</div>
             		</div>
             		<div class="form-group">
               			<b class="col-lg-2 control-label" style="font-size:20px">Email</b>
              <div class="col-lg-10">
                 <input type="text" class="form-control" id="user-email" name="email" placeholder="Enter your email address">
               </div>
             </div>
             <div class="form-group">
               <b class="col-lg-2 control-label" style="font-size:20px">Message</b>
               <div class="col-lg-10">
                 <textarea name="user-message" id="user-message" class="form-control"
                 cols="10" rows="10" placeholder="Enter your message"></textarea>
               </div>
             </div>
             <div class="form-group">
               <div class="col-lg-10 col-lg-offset-2">
                 <button type="submit" class="btn navbar-btn">Submit</button>
               </div>
             </div>
           </form>
         </div>
       </div>
</div>