<script src="/js/sessions.js"></script>
<div class="cover">
        <div class="cover-text">Contact</div>
</div><br>
<!--
<div class="container">
           		<form action="" class="form-horizontal">
             		<div class="form-group">
               		<b class="col-lg-2 control-label">Phone:</b><br>
                    <b class="col-lg-2 control-label">(510)589689</b><br>    
                    <b class="col-lg-2 control-label">Name</b>
               		<div class="col-lg-10">
                 		<input type="text" class="form-control" id="user-name" name="email" placeholder="Enter your name">
                    </div>
             		</div>
             		<div class="form-group">
               			<b class="col-lg-2 control-label">Email</b>
              <div class="col-lg-10">
                 <input type="text" class="form-control" id="user-email" name="email" placeholder="Enter your email address">
               </div>
             </div>
             <div class="form-group">
               <b class="col-lg-2 control-label">Any Message:</b>
               <div class="col-lg-10">
                 <textarea name="user-message" id="user-message" class="form-control"
                 cols="10" rows="10" placeholder="Enter your Message"></textarea>
               </div>
             </div>
             <div class="form-group">
               <div class="col-lg-10 col-lg-offset-2">
                 <button type="submit" class="btn btn-warning navbar-btn">Submit</button>
               </div>
             </div>
           </form>
</div>
-->
    <div class="container">
        <div class="row">
         	<div class="col-lg-4">
           		<p style="font-size:20px">Send us a message</p>
           	 	<address>
             	<i>Phone number: 510-579-690</i></br>
             	Email: step@gmail.com</br>
             	Location: La Jolla, San Diego, CA</br>
           		</address>
         	</div>
         	<div class="col-lg-8">
           		<form action="" class="form-horizontal">
             		<div class="form-group">
               		<b class="col-lg-2 control-label" style="font-size:20px">Name</b>
               		<div class="col-lg-10">
                 		<input type="text" class="form-control" id="user-name" name="email" placeholder="Enter your name">
               		</div>
             		</div>
             		<div class="form-group">
               			<b class="col-lg-2 control-label" style="font-size:20px">Email</b>
              <div class="col-lg-10">
                 <input type="text" class="form-control" id="user-email" name="email" placeholder="Enter your email address">
               </div>
             </div>
             <div class="form-group">
               <b class="col-lg-2 control-label" style="font-size:20px">Any Message</b>
               <div class="col-lg-10">
                 <textarea name="user-message" id="user-message" class="form-control"
                 cols="10" rows="10" placeholder="Enter your Message"></textarea>
               </div>
             </div>
             <div class="form-group">
               <div class="col-lg-10 col-lg-offset-2">
                 <button type="submit" class="btn navbar-btn">Submit</button>
               </div>
             </div>
           </form>
         </div>
       </div>
</div>