<link type="text/css" rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>


    <div class="row">
        <div class="col-lg-12 text-center" id="index_head_box">
            <h3 id="index_heading">Stephanie Pafford Yoga</h3>
        </div>
    </div>
