<link type="text/css" rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>
<div class="jumbotron">
		<div class="container text-center">
			<h2>Stephanie Pafford<h2>
			<p> Calm Your Mind, Strengthen your body, soothe your soul</p>
		</div>
	</div>
	<div class= "text-center text_color">
		<h1>Who benefits</h1>
    </div>
	</br>
 	<!-- <div class="rows">
		<div class="col-sm-6">
			<div class="containrcat">
			<img  class="" src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:102%;height:100%;">
		    </div>
		</div>
		<div class="col-sm-6">
			<div class="containercat">
					<p>fsafsdfdsfsdfsd</p>
					<p>fsafsdfdsfsdfsd</p>
					<p>fsafsdfdsfsdfsd</p>
			</div>
		</div>
	</div> -->
	<div class="row">
		<div class="col-sm-6">
			<div class="container-fluid">
			    <img src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:100%;height:100%;">
		    </div>
		</div>
		<div class="col-sm-6">
			<div class="containercat">
				<p class="cat">fdsajkfsahbfsdhfjsfdsa</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjsf</br>dsajkfsahbfsdhfjsfdsadfsafds</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjsfdsa</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="container-fluid">
			<img src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:100%;height:100%;">
			</div>
		</div>
		<div class="col-sm-6">
			<p class="cat">fdsajkfsahbfsdhfjsfdsa</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjsf</br>dsajkfsahbfsdhfjsfdsa</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjs</p>
		</div>
	</div>
	</br>
	<div class= "text-center text_color">
		<h1>What offered?</h1>
    </div>
	</br>
	<!-- 	<div class="col-sm-6">
			<img class="" src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:110%;height:100%;">
		</div>
		<div class="col-sm-6">
			<img class="" src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:110%;height:100%;">
		</div> -->

	<div class="container jumbotron">
		<div class="row">
			<div class="col-sm-6">
				<blockquote>
					<h3>Sessions<h3>
					<p class="adjust">fdsfdsfsffdsafsdfsdfdsfdsfsff</br>dsafsdfsdfdsfdsfsffdsafsd</br>afsdfsdfdsfdsfsffdsafsdfsdfdsfds</br>fsffdsafsdfsdfdsfdsfdsaasdf</br>safsdfsdfdsfdsfsfffdsfasd</p>
					<button type="button" class="btn btn-info">View More</button>
				</blockquote>
			</div>
			<div class="col-sm-6">
				<blockquote>
					<h3>Teacher Training</h3>
					<p class="adjust">fdsfdsfsffdsafsdfsdfdsfdsfsff</br>dsafsdfsdfdsfdsfsffdsafsdf</br>afsdfsdfdsfdsfsffdsafsdfdsa</br>fsdfsffdsafsdfsdfdsfds</br>fsdfsffdsafsdfsdfdsfds</br>fsdfsffdsafsdfsdfdsfds</br></p>
					<button type="button" class="btn btn-info">View More</button>
				</blockquote>
			</div>
		</div>
	</div>