<link type="text/css" rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>


    <div class="row">
            <img src="/images/landingpage.png" id="index_heading">
    </div>

    <div class="row text-center">
        <div class="col l3"></div>
        <h6 class="col l6" id="index_leadwords">“Yoga believes in transforming the individual before transforming the world. Whatever change we want to happen outside should happen within. If you walk in peace and express that peace in your very life, others will see you and learn something.” - Author Unknown</h6>
        <div class="col l3"></div>
    </div>

    <div id="index_benefit_box">
        <div class="row">
            <div class="col l1"></div>
            <div class="col l10">
                <h3 class="index_section_head"><strong>Who Benefit?</strong></h3>
                <p>Everyone! No touching of toes required. We will “meet you where you are” whether you are:</p>
            </div>
            <div class="col l1"></div>
        </div>
        <div class="row">
            <div class="col l2"></div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/gray.png">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/gray.png">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/gray.png">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/gray.png">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col l1"></div>
        </div>
    </div>

    <div id="index_offer_box">
        <div class="row">
            <div class="col l1"></div>
            <div class="col l10">
                <h3 class="index_section_head"><strong>What's offered?</strong></h3>
            </div>
            <div class="col l1"></div>
        </div>

        <div class="row">
            <div class="col l6 index_o_box text-center">
                <img src="/images/gray.png" style="width: 50vw; height: 50vh;">
            </div>
            <div class="col l6 index_o_box text-center">
                <p class="offer_text">sabfljsdfndalfdsukalnds avdsiauhvljdnsa dsadisajeklsabdsauvyds</p>
                <button class="btn btn-default">Learn More</button>
            </div>
            <div class="col l6 index_o_box text-center">
                <p class="offer_text">sabfljsdfndalfdsukalnds avdsiauhvljdnsa dsadisajeklsabdsauvyds</p>
                <button class="btn btn-default">Learn More</button>
            </div>
            <div class="col l6 index_o_box text-center">
                <img src="/images/gray.png" style="width: 50vw; height: 50vh;">
            </div>
        </div>
    </div>





