<link type="text/css" rel="stylesheet" href="/css/index.css">
<script src="/js/sessions.js"></script>
<script src="/js/index.js"></script>
<div class="cover">
		<div class="container text-center">
			<h3>Stephanie Pafford<h3>
		</div>
	</div>
	<div class= "text-center textmargin ">
		<h4>Who benefits</h4>
    </div>
	</br>

	<div class="row">
		<div class="col-sm-6">
			<div class="container-fluid">
			    <img src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:100%;height:100%;">
		    </div>
		</div>
		<div class="col-sm-6">
			<div class="containercat">
				<p class="cat">fdsajkfsahbfsdhfjsfdsa</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjsf</br>dsajkfsahbfsdhfjsfdsadfsafds</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjsfdsa</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="container-fluid">
			<img src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:100%;height:100%;">
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<p class="cat">fdsajkfsahbfsdhfjsfdsa</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjsf</br>dsajkfsahbfsdhfjsfdsa</br>jkfsahbfsdhfjsfdsajkfsahbfsdhfjs</p>
            <button type="button" class="btn btn-info btn-xs">Learn More</button>
		</div>
	</div>
	</br>
	<div class= "text-center">
		<h4>What offered?</h4>
    </div>
	</br>
	<!-- 	<div class="col-sm-6">
			<img class="" src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:110%;height:100%;">
		</div>
		<div class="col-sm-6">
			<img class="" src="http://www.mandalayogaspa.info/images/o-yoga-health-benefits-facebook.jpg" style="width:110%;height:100%;">
		</div> -->

	<div class="container jumbotron">
		<div class="row">
			<div class="col-sm-6">
				<blockquote>
					<h3>Sessions<h3>
					<p class="adjust">fdsfdsfsffdsafsdfsdfdsfdsfsff</br>dsafsdfsdfdsfdsfsffdsafsd</br>afsdfsdfdsfdsfsffdsafsdfsdfdsfds</br>fsffdsafsdfsdfdsfdsfdsaasdf</br>safsdfsdfdsfdsfsfffdsfasd</p>
					<button type="button" class="btn btn-info">View More</button>
				</blockquote>
			</div>
			<div class="col-sm-6">
				<blockquote>
					<h3>Teacher Training</h3>
					<p class="adjust">fdsfdsfsffdsafsdfsdfdsfdsfsff</br>dsafsdfsdfdsfdsfsffdsafsdf</br>afsdfsdfdsfdsfsffdsafsdfdsa</br>fsdfsffdsafsdfsdfdsfds</br>fsdfsffdsafsdfsdfdsfds</br>fsdfsffdsafsdfsdfdsfds</br></p>
					<button type="button" class="btn btn-info">View More</button>
				</blockquote>
			</div>
		</div>
	</div>