<link type="text/css" rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>

    <div class="row">
            <img src="/images/landingpage.png" id="index_heading">
    </div>

    <div class="row text-center responsive_page_margins">
        <div class="col l1"></div>
        <h4 class="col l10" id="index_leadwords">“Yoga believes in transforming the individual before transforming the world. Whatever change we want to happen outside should happen within. If you walk in peace and express that peace in your very life, others will see you and learn something.”<br>- Author Unknown</h4>
        <div class="col l1"></div>
    </div>

    <div id="index_benefit_box">
        <div class="row responsive_page_margins">
            <div class="col l1"></div>
            <div class="col l10">
                <h3 class="index_section_head">Who can benefit?</h3>
                <p>Everyone! No touching of toes required. We will “meet you where you are” whether you are:</p>
            </div>
            <div class="col l1"></div>
        </div>

        
        <div class="row">
            <div class="col l2"></div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/stress.jpg">
                        <!--
                        <span class="card-title">Card Title</span>
                        -->
                    </div>
                    <div class="card-content">
                        <p>Someone who is stressed</p>
                    </div>
                </div>
            </div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/trauma.jpg">
                        <!--
                        <span class="card-title">Card Title</span>
                        -->
                    </div>
                    <div class="card-content">
                        <p>Someone recovering from addiction, a debilitating illness, or emotional upset</p>
                    </div>
                </div>
            </div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/running.png">
                        <!--
                        <span class="card-title">Card Title</span>
                        -->
                    </div>
                    <div class="card-content">
                        <p>A competitive athlete or marathon runner</p>
                    </div>
                </div>
            </div>
            <div class="col l2">
                <div class="card">
                    <div class="card-image">
                        <img src="images/happy.jpg">
                        <!--
                        <span class="card-title">Card Title</span>
                        -->
                    </div>
                    <div class="card-content">
                        <p>Someone who wants to live a happier life</p>
                    </div>
                </div>
            </div>
            <div class="col l2"></div>
        </div>
        
    </div>

    <div id="index_offer_box">
        <div class="row responsive_page_margins">
            <div class="col l1"></div>
            <div class="col l10">
                <h3 class="index_section_head">What's offered?</h3>
            </div>
            <div class="col l1"></div>
        </div>

        <div class="index_container_desktop">
        <div class="row">
            <div class="row">
            <div class="col l1"></div>
            <div class="col l5 index_o_box text-center">
                <img class="offer_img" src="/images/sessions.jpg">
            </div>

            <div class="col l5 index_o_box_text text-center">
                <h5 class="offer_head">SESSIONS</h5>
                <p class="offer_text">The practice of yoga is a means of living in this crazy world and functioning healthily and happily. Anyone, and I mean anyone, can benefit from practicing yoga and giving yourself a minute of relief, to take a deep breath and offer release of tension and discomfort. Sessions in neurogenic yoga are offered.</p>
                <a href="/sessions"><button class="btn btn-default sessions_button">Learn More</button></a>
            </div>
            <div class="col l1"></div>
            </div>

            <div class="row">
            <div class="col l1"></div>
            <div class="col l5 index_o_box_text text-center">
                <h5 class="offer_head">TEACHER TRAINING</h5>
                <p class="offer_text">Want to bring yoga to your community and to help the people around you experience the peace and happiness that yoga offers? Take these yoga teacher training programs to become a yoga instructor. Programs in 200-hour training and continuing education in restorative yoga are offered.</p>
                <a href="/training"><button class="btn btn-default">Learn More</button></a>
            </div>

            <div class="col l5 index_o_box text-center">
                <img class="offer_img" src="/images/training.png">
            </div>
            <div class="col l1"></div>
            </div>
        </div>
        </div>

        <div class="index_container_mobile">
        <div class="row">
            <div class="row">
            <div class="col l1"></div>
            <div class="col l5 index_o_box text-center">
                <img class="offer_img" src="/images/sessions.jpg"><br>
            </div>

            <div class="col l5 index_o_box_text text-center">
                <h5 class="offer_head"><strong>SESSIONS</strong></h5>
                <p class="offer_text">The practice of yoga is a means of living in this crazy world and functioning healthily and happily. Anyone, and I mean anyone, can benefit from practicing yoga and giving yourself a minute of relief, to take a deep breath and offer release of tension and discomfort. Sessions in neurogenic yoga are offered.</p>
                <a href="/sessions"><button class="btn btn-default sessions_button">Learn More</button></a>
            </div>
            <div class="col l1"></div>
            </div>

            <div class="row">
            <div class="col l1"></div>
            <div class="col l5 index_o_box text-center">
                <img class="offer_img" src="/images/training.png">
            </div>

            <div class="col l5 index_o_box_text text-center">
                <h5 class="offer_head"><strong>TEACHER TRAINING</strong></h5>
                <p class="offer_text">Want to bring yoga to your community and to help the people around you experience the peace and happiness that yoga offers? Take these yoga teacher training programs to become a yoga instructor. Programs in 200-hour training and continuing education in restorative yoga are offered.</p>
                <a href="/training"><button class="btn btn-default">Learn More</button></a>
            </div>
            <div class="col l1"></div>
            </div>
        </div>
        </div>

    </div>

<div class="fixed-action-btn">
    <div>
        <a class="btn-floating btn-large" href="#nav">
            <i class="large material-icons">navigation</i>
        </a>
    </div>
</div>



