    <script src="/js/sessions.js"></script>
    <link rel="stylesheet" href="/css/sessions.css">
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <div class="cover-text">Sessions</div>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <!--<div class="scrollmenu">
      <a href="#RestorativeYoga">Restorative Yoga</a>
      <a href="#NeurosculptingWorkshops">Neurosculpting Workshops</a>
    </div>-->
    <!--<ul id="tabs-swipe" class="tabs">
        <li class="tab col-lg-4"><a href="#ResYoga">Restorative Yoga</a></li>
        <li class="tab col-lg-4"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>-->

    <ul id="tabs-swipe" class="tabs">
        <li class="tab col l6"><a href="#ResYoga">Restorative Yoga</a></li>
        <li class="tab col l6"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>

    <div id="ResYoga" class="col l12">
        <!--============================================= Restorative Yoga ====================================================== -->

        <section id="RestorativeYoga" class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p id="res_show">there is going to be a short paragraph about Restorative Yoga here.there is going to be a short paragraph about Restorative Yoga here.there is going to be a short paragraph about Restorative Yoga here.there is going to be a short paragraph about Restorative Yoga here.</p>
                        <span class="glyphicon glyphicon-plus sessions-icon-center" onclick="res_hide_info()"></span>
                        <p id="res_hide" class="sessions-hiding"> here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.</p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>
        </section>

        <!-- =========================================== Testimonials Restorative ================================================-->
        <section id="RestorativeTestimonials" class="box">
        <h3 class="testimonial-header">What Other People Think</h3>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
            
        <br>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>    
        </section>

    </div>
    <div id="NeuroWorkshops" class="col l12">
        <!--========================================= Neurosculpting Workshops ================================================== -->
        <section id="NeurosculptingWorkshops" class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p>there is going to be a short paragraph about Neurosculpting Workshops here. there is going to be a short paragraph about Neurosculpting Workshops here. there is going to be a short paragraph about Neurosculpting Workshops here. </p>
                        <span class="glyphicon glyphicon-plus sessions-icon-center" onclick="neuro_hide_info()"></span>
                        <p id="neuro_hide" class="sessions-hiding"> here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.</p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>

        </section>


        <!--=================================== Neurosculpting Workshops Testimonials ========================================= -->
        
        <section id="NeurosculptingTestimonials" class="box">
        <h3 class="testimonial-header">What Other People Think</h3>
            
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
        <br>
         
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>

        </section>
    </div>

