    <script src="/js/sessions.js"></script>
    <link rel="stylesheet" href="/css/sessions.css">
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <h1>Sessions</h1>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <!--<div class="scrollmenu">
      <a href="#RestorativeYoga">Restorative Yoga</a>
      <a href="#NeurosculptingWorkshops">Neurosculpting Workshops</a>
    </div>-->
    <!--<ul id="tabs-swipe" class="tabs">
        <li class="tab col-lg-4"><a href="#ResYoga">Restorative Yoga</a></li>
        <li class="tab col-lg-4"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>-->

    <ul id="tabs-swipe" class="tabs">
        <li class="tab col l6"><a href="#ResYoga">Restorative Yoga</a></li>
        <li class="tab col l6"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>

    <div id="ResYoga" class="col l12">
        <!--============================================= Restorative Yoga ====================================================== -->

        <section id="RestorativeYoga">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p id="res_show">Restorative yoga has best been described as “active relaxation” and is a method par excellence for attaining deep relaxation, tranquility and the many benefits of “de-stressing”. Using blankets, bolsters, pillows, blocks, straps, and other “props” to support the body, practitioners generally experience profound shifts in their nervous system, thus allowing a physiological shift to deep restfulness, calm abiding and well-being. Gravity does the “work” as the body progressively relaxes and softens. As this occurs, so do the signs and symptoms of stress, such as depressed or elevated moods, hypertension, muscle tension, digestive problems, high cholesterol levels, eyestrain, headaches and more.</p>
                        <span class="glyphicon glyphicon-plus sessions-icon-center" onclick="res_hide_info()"></span>
                        <div id="res_hide" class="sessions-hiding">
                        
                        <p>Neurogenic Yoga™ is a revolutionary technique in trauma healing and stress reduction.<p></p>
                        
                        <p>This practice combines yoga asana and pranayama with the body’s natural, therapeutic shaking response. This shaking response in humans, much the same as the instinctual shaking in animals, is the nervous system’s way of discharging long-held tension and trauma, or unconscious muscle contraction in order to restore the body to wholeness. When the nervous system identifies threat, vibration or shaking in the body is designed to occur automatically. However, negative social constructs and beliefs around what it means to allow ourselves to shake, tremor, or show vulnerability, condition us out of this innate release mechanism at a very early age. Neurogenic Yoga™ reawakens our body’s intrinsic release mechanism for optimal health.</p>
                        
                        <p>Neurogenic Yoga™ is a simple, gentle and profound practice that facilities the lengthening and relaxation of the psoas muscle and the release of physical and emotional stress and tension. During a Neurogenic Yoga™ practice, we safely self induce therapeutic vibration using yoga postures and breath. Often vibration begins in the legs and may spread throughout the entire body. This method is based on Dr. David Berceli’s technique of Trauma Releasing Exercises™ (TRE™).</p>
                        
                        <p>Everyone can benefint from this program. Whether you are a competitive athlete, marathon runner, or someone recovering from addiction, a debilitating illness, or emotional upset, these modalities can benefit you immensely. They will “meet you where you are.”</p>
                        
                        
                        <p>Restorative Yoga is also very helpful for people who are working with the following situations:
                        <ul>
                            <li><img src="images/black.png" class="bulletpoint"> Fibromyalgia</li>
                            <li><img src="images/black.png" class="bulletpoint"> Irritable Bowel Syndrome</li>
                            <li><img src="images/black.png" class="bulletpoint"> Nervousness, Anxiety, Panic</li>
                            <li><img src="images/black.png" class="bulletpoint"> Depression</li>
                            <li><img src="images/black.png" class="bulletpoint"> Mourning</li>
                            <li><img src="images/black.png" class="bulletpoint"> Sciatica, Muscle tension</li>
                            <li><img src="images/black.png" class="bulletpoint"> Over-achieving, Perfectionism</li>
                            <li><img src="images/black.png" class="bulletpoint"> Sleeplessness and Insomnia</li>
                            <li><img src="images/black.png" class="bulletpoint"> Autoimmune illness</li>
                        
                        </ul>
                        </p>
                        
                        <p>Possible Benefits also include:
                        <ul>
                            <li><img src="images/black.png" class="bulletpoint">Improved Posture</li>
                            <li><img src="images/black.png" class="bulletpoint"> Relief from Back pain</li>
                            <li><img src="images/black.png" class="bulletpoint"> Relief from physical exhaustion and Fatigue</li>
                            <li><img src="images/black.png" class="bulletpoint"> Relief from chronic stress related condition (insomnia, headaches, digestive problems, etc.)</li>
                            <li><img src="images/black.png" class="bulletpoint"> Better Resistance to injury</li>
                            <li><img src="images/black.png" class="bulletpoint"> Release of lactic acid and or other toxins from areas of accumulation</li>
                            <li><img src="images/black.png" class="bulletpoint"> Improved circulation, metabolism and immunity</li>
                            <li><img src="images/black.png" class="bulletpoint"> Lower cholesterol levels</li>
                        </ul>
                        </p>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>
        </section>

        <!-- =========================================== Testimonials Restorative ================================================-->
        <section id="RestorativeTestimonials">
        <h3 class="testimonial-header">What Other People Think</h3>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
            
        <br>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>    
        </section>

    </div>
    <div id="NeuroWorkshops" class="col l12">
        <!--========================================= Neurosculpting Workshops ================================================== -->
        <section id="NeurosculptingWorkshops">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p>there is going to be a short paragraph about Neurosculpting Workshops here. there is going to be a short paragraph about Neurosculpting Workshops here. there is going to be a short paragraph about Neurosculpting Workshops here. </p>
                        <span class="glyphicon glyphicon-plus sessions-icon-center" onclick="neuro_hide_info()"></span>
                        <p id="neuro_hide" class="sessions-hiding"> here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.</p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>

        </section>


        <!--=================================== Neurosculpting Workshops Testimonials ========================================= -->
        
        <section id="NeurosculptingTestimonials">
        <h3 class="testimonial-header">What Other People Think</h3>
            
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
        <br>
         
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>

        </section>
    </div>

