    <script src="/js/sessions.js"></script>
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <div class="cover-text">Sessions</div>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <!--<div class="scrollmenu">
      <a href="#RestorativeYoga">Restorative Yoga</a>
      <a href="#NeurosculptingWorkshops">Neurosculpting Workshops</a>
    </div>-->
    <!--<ul id="tabs-swipe" class="tabs">
        <li class="tab col-lg-4"><a href="#ResYoga">Restorative Yoga</a></li>
        <li class="tab col-lg-4"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>-->

    <ul id="tabs-swipe" class="tabs">
        <li class="tab col l6"><a href="#ResYoga">Restorative Yoga</a></li>
        <li class="tab col l6"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>

    <div id="ResYoga" class="col l12">
        <!--============================================= Restorative Yoga ====================================================== -->

        <section id="RestorativeYoga" class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p>there is going to be a short paragraph about Restorative Yoga here.there is going to be a short paragraph about Restorative Yoga here.there is going to be a short paragraph about Restorative Yoga here.there is going to be a short paragraph about Restorative Yoga here.</p>

                        <a href="#hide" id="hide"><img id="expand" src="/images/plus.png" style="border-radius: 100%"></a>
                        <a href="#show" id="show"><img id="expand" src="/images/minus.png"></a>
                        <div class="answer"><p>here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.</p></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>
        </section>

        <!-- =========================================== Testimonials Restorative ================================================-->
        <section id="RestorativeTestimonials" class="box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                        <br><br>
                        <img class="img-circle" src="images/gray.png">
                        <p class="testimonial-name">NAME</p>
                    </div>
                    <div class="col-xs-2 col-sm-1"></div>
                    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                        <br><br><br>
                        <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                        <br><br>
                        <img class="img-circle" src="images/gray.png">
                        <p class="testimonial-name">NAME</p>
                    </div>
                    <div class="col-xs-2 col-sm-1"></div>
                    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                        <br><br><br>
                        <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>

        </section>

    </div>
    <div id="NeuroWorkshops" class="col l12">
        <!--========================================= Neurosculpting Workshops ================================================== -->
        <section id="NeurosculptingWorkshops" class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p>there is going to be a short paragraph about Neurosculpting Workshops here. there is going to be a short paragraph about Neurosculpting Workshops here. there is going to be a short paragraph about Neurosculpting Workshops here. </p>

                        <a href="#hide" id="hide"><img id="expand" src="images/plus.png" style="border-radius: 100%"></a>
                        <a href="#show" id="show"><img id="expand" src="images/minus.png"></a>
                        <div class="answer"><p>here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.here is going to be the details and more information.</p></div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>

        </section>


        <!--=================================== Neurosculpting Workshops Testimonials =========================================== -->
        <section id="NeurosculptingTestimonials" class="box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                        <br><br>
                        <img class="img-circle" src="images/gray.png">
                        <p class="testimonial-name">NAME</p>
                    </div>
                    <div class="col-xs-2 col-sm-1"></div>
                    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                        <br><br><br>
                        <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                        <br><br>
                        <img class="img-circle" src="images/gray.png">
                        <p class="testimonial-name">NAME</p>
                    </div>
                    <div class="col-xs-2 col-sm-1"></div>
                    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                        <br><br><br>
                        <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>

        </section>
    </div>

