    <script src="/js/sessions.js"></script>
    <link rel="stylesheet" href="/css/sessions.css">
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <h1>Sessions</h1>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <!--<div class="scrollmenu">
      <a href="#RestorativeYoga">Restorative Yoga</a>
      <a href="#NeurosculptingWorkshops">Neurosculpting Workshops</a>
    </div>-->
    <!--<ul id="tabs-swipe" class="tabs">
        <li class="tab col-lg-4"><a href="#NeuroYoga">Restorative Yoga</a></li>
        <li class="tab col-lg-4"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>-->

    <ul id="tabs-swipe" class="tabs text-center">
        <li class="tab col l6"><a href="#NeuroYoga">Neurogenic Yoga</a></li>
        <li class="tab col l6"><a href="#NeuroWorkshops">Neurosculpting Workshops</a></li>
    </ul>

    <div id="NeuroYoga" class="col l12">
        <!--============================================= Neurogenic Yoga ====================================================== -->

        <section id="RestorativeYoga">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p id="res_show">Neurogenic Yoga™ is a simple, gentle and profound practice that facilities the lengthening and relaxation of the psoas muscle and the release of physical and emotional stress and tension. During a Neurogenic Yoga™ practice, we safely self induce therapeutic vibration using yoga postures and breath. Often vibration begins in the legs and may spread throughout the entire body. This method is based on Dr. David Berceli’s technique of Trauma Releasing Exercises™ (TRE™).</p>
                        <span class="glyphicon glyphicon-plus sessions-icon-center" onclick="res_hide_info()"></span>
                        <div id="res_hide" class="sessions-hiding">
                        
                        <p>Neurogenic Yoga™ is a revolutionary technique in trauma healing and stress reduction.<p></p>
                        
                        <p>This practice combines yoga asana and pranayama with the body’s natural, therapeutic shaking response. This shaking response in humans, much the same as the instinctual shaking in animals, is the nervous system’s way of discharging long-held tension and trauma, or unconscious muscle contraction in order to restore the body to wholeness. When the nervous system identifies threat, vibration or shaking in the body is designed to occur automatically. However, negative social constructs and beliefs around what it means to allow ourselves to shake, tremor, or show vulnerability, condition us out of this innate release mechanism at a very early age. Neurogenic Yoga™ reawakens our body’s intrinsic release mechanism for optimal health.</p>
                        
                        <p>Everyone can benefint from this program. Whether you are a competitive athlete, marathon runner, or someone recovering from addiction, a debilitating illness, or emotional upset, these modalities can benefit you immensely. They will “meet you where you are.”</p>
                    </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>
        </section>

        <!-- =========================================== Testimonials Neurogenic ================================================-->
        <section id="NeurogenicTestimonials">
        <h3 class="testimonial-header">What Other People Think</h3>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
            
        <br>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>    
        </section>

    </div>
    <div id="NeuroWorkshops" class="col l12">
        <!--========================================= Neurosculpting Workshops ================================================== -->
        <section id="NeurosculptingWorkshops">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                        <br><br>
                        <p style="padding-bottom: 20vh;">These workshops will be available in the near future; Stephanie is currently getting certified. Stay tuned!</p>
                        <!--
                        <span class="glyphicon glyphicon-plus sessions-icon-center" onclick="neuro_hide_info()"></span>
                        <p id="neuro_hide" class="sessions-hiding"> Additional details go here</p>
                        -->
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
                </div>
            </div>

        </section>


        <!--=================================== Neurosculpting Workshops Testimonials ========================================= -->
        
        <!--
        <section id="NeurosculptingTestimonials">
        <h3 class="testimonial-header">What Other People Think</h3>
            
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
        <br>
         
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>

        </section>
        -->
    </div>

