<script src="/js/sessions.js"></script>
<link type="text/css" rel="stylesheet" href="/css/store.css">
<link type="text/css" rel="stylesheet" href="/css/calendar.css">
<script src="/js/calendar.js"></script>
<div class="cover">
    <div class="container text-center">
        <h3>Store<h3>
    </div>
</div>
<div class="container">
        <div class="row">
            <h5>Filters: </h5>
            <div class="col-lg-4 input-field">
                <select id="calendar_type_filter">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label for="calendar_type_filter">Category</label>
            </div>
            <div class="col-lg-4 input-field">
                <select id="calendar_level_filter">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label for="calendar_level_filter">Price Range</label>
            </div>
            <div class="col-lg-4 input-field">
                <select id="calendar_type_filter">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label for="calendar_type_filter">Review</label>
            </div>
        </div>
    </div>

<!--
<div class="container text-center" id="item_store_margin">
    <div class="row">
            <div class="col l4" id="margin_image">
				<img src="images/gray.png" height="250px" width="200px">
				<figcaption><b>Matt</b></figcaption>
                <figcaption><b>Sale : $9.00</b></figcaption>
                <button type="button" class="btn btn-info btn-sm">Buy it now</button>
			</div>
			<div class="col l4" id="margin_image">
				<img src="images/gray.png" height="250px" width="200px">
				<figcaption><b>Yoga Strap D-Ring</b></figcaption>
                 <figcaption><b>Sale : $19.99</b></figcaption>
                <button type="button" class="btn btn-info btn-sm">Buy it now</button>
			</div>
			<div class="col l4" id="margin_image">
				<img src="images/gray.png" height="250px" width="200px">
				<figcaption><b>Mexican Blanket</b></figcaption>
                 <figcaption><b>Sale : $29.99</b></figcaption>
                <button type="button" class="btn btn-info btn-sm">Buy it now</button>
			</div>
    </div>
    <div class="row">
			<div class="col l4" id="margin_image">
				<img src="images/gray.png" height="250px" width="200px">
				<figcaption><b>Yoga Mat</b></figcaption>
                <figcaption><b>Sale: $5.99</b></figcaption>
                <button type="button" class="btn btn-info btn-sm">Buy it now</button>
			</div>

            <div class="col l4" id="margin_image">
				<img src="images/gray.png" height="250px" width="200px">
				<figcaption><b>Yoga Mat</b></figcaption>
                <figcaption><b>Sale: $5.99</b></figcaption>
                <button type="button" class="btn btn-info btn-sm">Buy it now</button>
			</div>
            <div class="col l4" id="margin_image">
				<img src="images/gray.png" height="250px" width="200px">
				<figcaption><b>Yoga Mat</b></figcaption>
                <figcaption><b>Sale: $5.99</b></figcaption>
                <button type="button" class="btn btn-info btn-sm">Buy it now</button>
			</div>
    </div>
</div>
-->
<div class="container">
	<div class="row text-center">
		<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
			<div class="thumbnail">
				<img src="images/gray.png" alt="tuan dang" class="img-responsive" height="150px" width="200px">
				<div class="caption">
					<h4>Blanket</h4>
					<p>Sale: $5.99</p>
					<p><a href='#' class="btn btn-primary responsive" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
					</span>Buy it now</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
			<div class="thumbnail">
				<img src="images/gray.png" alt="tuan dang" class="img-responsive" height="150px" width="200px">
				<div class="caption">
					<h4>Yoga matt</h4>
					<p>Sale: $5.99</p>
					<p><a href='#' class="btn btn-primary responsive" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
					</span>Buy it now</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
			<div class="thumbnail">
				<img src="images/gray.png" alt="tuan dang" class="img-responsive" height="150px" width="200px">
				<div class="caption">
					<h4>Matt</h4>
					<p>Sale: $5.99</p>
					<p><a href='#' class="btn btn-primary responsive" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
					</span>Buy it now</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
			<div class="thumbnail">
				<img src="images/gray.png" alt="tuan dang" class="img-responsive" height="150px" width="200px">
				<div class="caption">
					<h4>Yoga Matt</h4>
					<p>Sale: $5.99</p>
					<p><a href='#' class="btn btn-primary responsive" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
					</span>Buy it now</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
			<div class="thumbnail">
				<img src="images/gray.png" alt="tuan dang" class="img-responsive" height="150px" width="200px">
				<div class="caption">
					<h4>Matt</h4>
					<p>Sale: $5.99</p>
					<p><a href='#' class="btn btn-primary responsive" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
					</span>Buy it now</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
			<div class="thumbnail">
				<img src="images/gray.png" alt="tuan dang" class="img-responsive" height="150px" width="200px">
				<div class="caption">
					<h4>Yoga Mat</h4>
					<p>Sale: $5.99</p>
					<p><a href='#' class="btn btn-primary responsive" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
					</span>Buy it now</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<ul class="pagination">
		<li><a href="#" aria-lable="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li class="active"><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li class="active"><a href="#">3</a></li>
		<li class="active"><a href="#">4</a></li>
		<li class="disabled"><a href="#">5</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	</ul>
</div>
<!--
<div class="fixed-action-btn">
    <div>
        <a class="btn-floating btn-large" href="#nav">
            <i class="large material-icons">navigation</i>
        </a>
    </div>
</div>
-->
