<script src="/js/training.js"></script>
<link rel="stylesheet" href="/css/training.css">
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <div class="cover-text">Teacher Training</div>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <!--<div class="scrollmenu">
      <a href="#200hr">200hr Teacher Training</a>
      <a href="#500hr">500hr Teacher Training</a>
      <a href="#ContinuingEdu">Continuing Education</a> 
    </div>-->
    <ul id="tabs-swipe" class="tabs">
        <li class="tab col l4"><a href="#200hr_tabs">200hr Teacher Training</a></li>
        <li class="tab col l4"><a href="#500hr_tabs">500hr Teacher Training</a></li>
        <li class="tab col l4"><a href="#conEdu_tabs">Continuing Education</a></li>
    </ul>
    
    <!--============================================= 200hr Teacher Training ====================================================== -->
    <div id="200hr_tabs">
    <section id="200hr" class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. </p>
                <span class="glyphicon glyphicon-plus training-icon-center" onclick="two_hide_info()"></span>
                <p id="200h_hide" class="training-hiding">Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. </p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    
    <!-- =========================================== Testimonials 200hr ================================================-->
    <section id="200hrTestimonials" class="box">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
    </section> 
    </div>
    <!--========================================= 500hr Teacher Training ================================================== -->
    <div id="500hr_tabs">
    <section id="500hr" class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. </p>
                <span class="glyphicon glyphicon-plus training-icon-center" onclick="five_hide_info()"></span>
                <p id="500h_hide" class="training-hiding">Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. </p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    
    <!--============================================ 500hr Testimonials ==================================================== -->
    
    <section id="500hrTestimonials" class="box">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
    </section>
    </div>
    
    <!--=========================================== Continuing Education =================================================== -->

    <div id="conEdu_tabs">
    <section id="ContinuingEdu" class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. </p>
                <span class="glyphicon glyphicon-plus training-icon-center" onclick="conEdu_hide_info()"></span>
                <p id="conEdu_hide" class="training-hiding">Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. </p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    <!--===================================== Continuing Education Testimonials ============================================= -->
    
    <section id="ContinuingEduTestimonials" class="box">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/gray.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        
    </section>
    </div>










