
    <!--==================================NAV BAR======================================== -->
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Stephanie Pafford's Yoga</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Home</a></li>
                    
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Sessions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Retorative Yoga</a></li>
                            <li><a href="">Neurosculpting Workshops</a></li>
                            <li><a href="">I Don't Know</a></li>
                        </ul>                        
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Teacher Training<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">200hr Yoga Teacher Training</a></li>
                            <li><a href="">500hr Yoga Teacher Training</a></li>
                            <li><a href="">Continuing Education</a></li>
                        </ul>                        
                    </li>
                    <li><a href="">Calendar</a>
                    <li><a href="">Store</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <div class="cover-text">Teacher Training</div>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <div class="scrollmenu">
      <a href="#200hr">200hr Teacher Training</a>
      <a href="#500hr">500hr Teacher Training</a>
      <a href="#ContinuingEdu">Continuing Education</a> 
    </div>
    
    <!--============================================= 200hr Teacher Training ====================================================== -->
    
    <section id="200hr" class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. A short paragraph about 200hr progam. </p>

                <a href="#hide" id="hide"><img id="expand" src="images/plus.png" style="border-radius: 100%"></a>
                <a href="#show" id="show"><img id="expand" src="images/minus.png"></a>
                <div class="answer"><p>Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. </p></div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    
    <!-- =========================================== Testimonials 200hr ================================================-->
    <section id="200hrTestimonials" class="box">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <br><br>    
                <img class="img-circle" src="images/gray.png">
                    <p class="testimonial-name">NAME</p>
                </div>
                <div class="col-xs-2 col-sm-1"></div>
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <br><br><br>
                    <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
        
        
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <br><br>    
                <img class="img-circle" src="images/gray.png">
                    <p class="testimonial-name">NAME</p>
                </div>
                <div class="col-xs-2 col-sm-1"></div>
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <br><br><br>
                    <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
        
    </section> 
    
    <!--========================================= 500hr Teacher Training ================================================== -->
    
    <section id="500hr" class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. A short paragraph about 500hr progam. </p>

                <a href="#hide" id="hide"><img id="expand" src="images/plus.png" style="border-radius: 100%"></a>
                <a href="#show" id="show"><img id="expand" src="images/minus.png"></a>
                <div class="answer"><p>Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. </p></div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    
    <!--============================================ 500hr Testimonials ==================================================== -->
    
    <section id="500hrTestimonials" class="box">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <br><br>    
                <img class="img-circle" src="images/gray.png">
                    <p class="testimonial-name">NAME</p>
                </div>
                <div class="col-xs-2 col-sm-1"></div>
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <br><br><br>
                    <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
        
        
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <br><br>    
                <img class="img-circle" src="images/gray.png">
                    <p class="testimonial-name">NAME</p>
                </div>
                <div class="col-xs-2 col-sm-1"></div>
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <br><br><br>
                    <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
        
    </section> 
    
    
    <!--=========================================== Continuing Education =================================================== -->
    
    <section id="ContinuingEdu" class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. A short paragraph about ContinuingEdu progam. </p>

                <a href="#hide" id="hide"><img id="expand" src="images/plus.png" style="border-radius: 100%"></a>
                <a href="#show" id="show"><img id="expand" src="images/minus.png"></a>
                <div class="answer"><p>Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. Extended version of the info and details. </p></div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    <!--===================================== Continuing Education Testimonials ============================================= -->
    
    <section id="ContinuingEduTestimonials" class="box">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <br><br>    
                <img class="img-circle" src="images/gray.png">
                    <p class="testimonial-name">NAME</p>
                </div>
                <div class="col-xs-2 col-sm-1"></div>
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <br><br><br>
                    <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
        
        
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <br><br>    
                <img class="img-circle" src="images/gray.png">
                    <p class="testimonial-name">NAME</p>
                </div>
                <div class="col-xs-2 col-sm-1"></div>
                <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <br><br><br>
                    <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
        
    </section> 











