<script src="/js/training.js"></script>
<link rel="stylesheet" href="/css/training.css">
    <!--=============================================== COVER =============================================================== -->
    <div class="cover">
        <h1>Teacher Training</h1>
    </div>
    
    <!--============================================ Sliding Menu =========================================================== -->
    
    <!--<div class="scrollmenu">
      <a href="#200hr">200hr Teacher Training</a>
      <a href="#500hr">500hr Teacher Training</a>
      <a href="#ContinuingEdu">Continuing Education</a> 
    </div>-->
    <ul id="tabs-swipe" class="tabs text-center">
        <li class="tab col l4"><a href="#200hr_tabs">200hr Teacher Training</a></li>
        <li class="tab col l4"><a href="#500hr_tabs">500hr Teacher Training</a></li>
        <li class="tab col l4"><a href="#conEdu_tabs">Continuing Education</a></li>
    </ul>
    
    <!--============================================= 200hr Teacher Training ====================================================== -->
    <div id="200hr_tabs" class="textjustify">
    <section id="200hr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>Want to bring yoga to your community and to help the people around you experience the peace and happiness that yoga offers? Take these yoga teacher training programs to become a yoga instructor. Programs in 200-hour training and continuing education in restorative yoga are offered.</p>
                <span class="glyphicon glyphicon-plus training-icon-center" onclick="two_hide_info()"></span>
                <div id="200h_hide" class="training-hiding">
                <p>"Before embarking on important undertakings, sit quietly, calm your senses and thoughts, and meditate deeply. You will then be guided by the great creative power of Spirit." ∼ Paramahansa Yogananda</p>
                    <p>Yoga Teacher Training La Jolla / San Diego Starts Feb 2017</p>
                    <p>Serving San Diego, La Jolla, UTC, Sorrento Valley, Del Mar, Mira Mesa, Coronado, Imperial Beach, Chula Vista and More. We are MyCaa Credited</p>
                    <p>Yoga Teacher Training Practicum as required by Yoga Alliance.</p>
                    <p>Hatha Yoga Teacher Training: Yoga Alliance Certified Led by E-RYT 500 Stephanie Pafford.<br>
                    Feb 11-12<br>
                    March 4-5<br>
                    April 1-2<br>
                    April 22-23<br>
                    May 13-14<br>
                    June 3-4</p>
                    <p>Saturdays 12:30-7:30pm<br>
                    Sundays 12:30-7:30pm</p>
                    <p>• Paid in full $2500<br>
                    • Payment plan total $2750 totaling $416.66 month<br>
                    • $250 deposit with no refund.<br>
                    • No Refunds After Training Starts</p>
                    <p>Palmdale/Antelope Valley Training Starts Jan 2017<br>
                    Dates and times for new training starting January 2017</p>
                    <p>All Saturdays (9am-4pm) & Sundays (9am-4pm)<br>
                    Jan 21-22<br>
                    Feb 11-12<br>
                    March 4-5<br>
                    March 25-26<br>
                    April 22-23<br>
                    May 20-21<br>
                    <p>Paid in full $2500<br>
                    Payment plan total $2750 totaling $416.66 month<br>
                    $250 deposit with no refund.</p>
                    <p>Program includes unlimited yoga for the 5 months in training (200 Hour).  30% discount on Akasha Workshops (Akasha Yoga Studio Only not Valid at other Studio Only includes 2 Classes per week)</p>
                    <p>The style presented is best described as Hatha with a focus on gentle and vinyasa flow (level 1-3). The standard class sequence of warm up, sun salutations, balance series , warrior series, floor poses, backbends, inversions, final twist and svasana will be stressed.</p>
                    <p>Also included:<br>
                    Includes asanas, pranayamas, kriyas, chanting, mantra, meditation and other traditional yoga techniques, principles of demonstration, observation, assisting and correcting, business aspects of teaching yoga. Includes both human physical anatomy and physiology (bodily systems, organs, etc.) and energy anatomy and physiology (chakras, nadis, etc.). Includes both the study of the subject and application of its principles to yoga practice (benefits, contraindications, healthy movement patterns, etc). the study of yoga philosophies, yoga lifestyle and ethics for yoga teachers.</p>
                    <p>The word "hatha" comes from the Sanskrit terms "ha" meaning "sun" and "tha" meaning "moon". Thus, Hatha Yoga is known as the branch of Yoga that unites pairs of opposites referring to the positive (sun) and negative (moon) currents in the system. Hatha Yoga tries to achieve balance between body and mind, as well as attempts to free the more subtle spiritual elements of the mind through physical poses or Asanas, Breathing techniques Pranayama, and Meditation. Schedule subject to change. No refunds after program starts.</p>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    
    <!-- =========================================== Testimonials 200hr ================================================-->
    <section id="200hrTestimonials">
    <h3 class="testimonial-header">What Other People Think</h3>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile text-center">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name" id="testi1">BH 2013</p>
            </div>
            
            <div class="testimonials-text">
            <p>“I can’t thank you enough for the amazing journey through teacher training. I have done yoga for over 20 years without finding the mind body connection that is often promised with yoga. I searched every style and studio available in San Diego looking for the perfect teacher, perfect style, and perfect class. Nothing filled the void that I was searching for. Your teacher training exposed me to so many aspects of yoga that I would never have gained from my regular yoga classes. The exposure of music, breathing, and the yogi lifestyle was more than I could have expected. You taught me the true meaning of blessings and gratitude. You taught me how to teach yoga, but more than that you transformed me into a yoga teacher. Since completing my teaching training, every yoga class that I attend has new meaning. Every teacher I meet is an inspiration. As I close each class with “Namaste” I truly acknowledge my inner light and the inner light of everyone in the class. I have found the stillness inside of me that brings me happiness and peace. Thanks so much for opening the door on this amazing journey. I now know for sure that I am heading in the right direction.”</p>
            </div>
            
        </div>
        </div>
        
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile text-center">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name" id="testi2">Elise 2013</p>
            </div>
            
            <div class="testimonials-text">
            <p>“I am a mother or 3 children. I am what you call “a stay home mom”, although I’m rarely home, always running around. The last 16 years of my life have been devoted to my children and husband. I love my life! Although, I knew it was time to do something for myself. I’ve been practicing yoga for the last 5 years. I started when my youngest child was in kindergarten. I was hooked immediately. It was like no other exercise I had done before. It brought everything together – my mind, body and spirit. It was what I was searching for.<br>
            After practicing yoga for 5 years I knew I wanted more. I heard Lotus 7 Yoga – Akasha Yoga were offering a RYT 200 teacher training. I was very interested and grabbed one of the flyers. Nervous about the commitment, I spoke to my husband and children. I needed to make sure everyone was on board. My family was so supportive and excited for me.<br>
            I have to say, I love Stepanie and Alison! They made our RYT 200 teacher training so interesting and fun. I looked forward to our weekends together. I quickly got to know and become friends with all the other students. By the end of our training, I considered us a “yoga family”. We were always there to support each other, just like a family.<br>
            It’s bittersweet that our training is over. I’m sad I don’t get to see my new friends as often, but I am excited and ready to teach!<br>
            If you have a passion for yoga and want to take your practice to the next level, just do it! You’ll be so glad you did.”</p>
            </div>
            
        </div>
        <br>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile text-center">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name" id="testi3">Sandrine C.</p>
            </div>
            
            <div class="testimonials-text">
            <p>“It was many years I thought I would like to deepen my yoga practice and maybe do a teacher training program so I can practice on my own. So many years were I though, NO, I’m not good enough, I don’t have time, I do not have the physical condition and my back hurts.<br>
            But one day someone told me it’s a journey that will change your life! Then someone else made me understand it’s not a question of which crazy poses I can do, but rather of finding my true self. An other one made me feel I deserve it. And I understood that I just had to allow myself! I met all these people among the wonderful community of Akasha Yoga. They made me dare, and the magi happened!<br>
            Imagine a young woman suffering of chronic back pain since teenager hood! Gone! In less than 4 month! I would nether have believed it if I would not have experienced it!<br>
            Imagine someone who nether has time. Imagine someone slowed down by its doubt. Imagine a control freak living in a word of NO because of fear. GONE! GONE! GONE!<br>
            This training was so full of love and compassion that I really got in touch with myself like never before. Akasha not only offers a training generating competent and operational teacher, it also worth’s a therapy on the physical, emotional, energetic and spiritual level. I experienced and witnessed it around me. Thank you.” Sandrine C.</p>
            </div>
            
        </div>
        </div>
        
    </section> 
    </div>
    <!--========================================= 500hr Teacher Training ================================================== -->
    <div id="500hr_tabs" class="textjustify">
    <section id="500hr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>If you’re interested in a more intensive training than the 200-hr program, this 500-hr teacher training program will go deeper into the practices of yoga.</p>
                <span class="glyphicon glyphicon-plus training-icon-center" onclick="five_hide_info()"></span>
                <div id="500h_hide" class="training-hiding">
                    <p>"Before embarking on important undertakings, sit quietly, calm your senses and thoughts, and meditate deeply. You will then be guided by the great creative power of Spirit." ∼ Paramahansa Yogananda</p>
                    <p>Yoga Teacher Training La Jolla / San Diego Starts Feb 2017</p>
                    <p>Serving San Diego, La Jolla, UTC, Sorrento Valley, Del Mar, Mira Mesa, Coronado, Imperial Beach, Chula Vista and More. We are MyCaa Credited</p>
                    <p>Yoga Teacher Training Practicum as required by Yoga Alliance.</p>
                    <p>Hatha Yoga Teacher Training: Yoga Alliance Certified Led by E-RYT 500 Stephanie Pafford.<br>
                    Feb 11-12<br>
                    March 4-5<br>
                    April 1-2<br>
                    April 22-23<br>
                    May 13-14<br>
                    June 3-4</p>
                    <p>Saturdays 12:30-7:30pm<br>
                    Sundays 12:30-7:30pm</p>
                    <p>• Paid in full $2500<br>
                    • Payment plan total $2750 totaling $416.66 month<br>
                    • $250 deposit with no refund.<br>
                    • No Refunds After Training Starts</p>
                    <p>Palmdale/Antelope Valley Training Starts Jan 2017<br>
                    Dates and times for new training starting January 2017</p>
                    <p>All Saturdays (9am-4pm) & Sundays (9am-4pm)<br>
                    Jan 21-22<br>
                    Feb 11-12<br>
                    March 4-5<br>
                    March 25-26<br>
                    April 22-23<br>
                    May 20-21<br>
                    <p>Paid in full $2500<br>
                    Payment plan total $2750 totaling $416.66 month<br>
                    $250 deposit with no refund.</p>
                    <p>Program includes unlimited yoga for the 5 months in training (200 Hour).  30% discount on Akasha Workshops (Akasha Yoga Studio Only not Valid at other Studio Only includes 2 Classes per week)</p>
                    <p>The style presented is best described as Hatha with a focus on gentle and vinyasa flow (level 1-3). The standard class sequence of warm up, sun salutations, balance series , warrior series, floor poses, backbends, inversions, final twist and svasana will be stressed.</p>
                    <p>Also included:<br>
                    Includes asanas, pranayamas, kriyas, chanting, mantra, meditation and other traditional yoga techniques, principles of demonstration, observation, assisting and correcting, business aspects of teaching yoga. Includes both human physical anatomy and physiology (bodily systems, organs, etc.) and energy anatomy and physiology (chakras, nadis, etc.). Includes both the study of the subject and application of its principles to yoga practice (benefits, contraindications, healthy movement patterns, etc). the study of yoga philosophies, yoga lifestyle and ethics for yoga teachers.</p>
                    <p>The word "hatha" comes from the Sanskrit terms "ha" meaning "sun" and "tha" meaning "moon". Thus, Hatha Yoga is known as the branch of Yoga that unites pairs of opposites referring to the positive (sun) and negative (moon) currents in the system. Hatha Yoga tries to achieve balance between body and mind, as well as attempts to free the more subtle spiritual elements of the mind through physical poses or Asanas, Breathing techniques Pranayama, and Meditation. Schedule subject to change. No refunds after program starts.</p>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    
    <!--============================================ 500hr Testimonials ==================================================== -->
    
    <section id="500hrTestimonials">
    <h3 class="testimonial-header">What Other People Think</h3>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile text-center">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name" id="testi4">Jimena C.</p>
            </div>
            
            <div class="testimonials-text">
            <p>“When I heard about the yoga teacher training was going to start in Akasha, I felt something on my chest but immediately said “No, I can’t. I don’t have much experience doing yoga. I’m not that flexible. I’m from Argentina –Spanish speaker – and it’s going to be difficult for me the language. I can’t leave my baby boy at home for long time, etc, etc, etc.” But I kept feeling that sensation on my chest that was telling me “Go for it”… and, with the support of my lovely husband, I did without regrets.<br>

            This training has changed my life. In a beautiful/charming/like-home environment – Akasha – I’ve not only learned the soul of Yoga (asanas, pranayamas, etc), this training also gave me the tools to learn how to breathe, to open my heart and show my feelings “Feeling is healing!”, to stay in a calmness state, to feel and share love from my heart, to be more patient, to be a better listener, to have compassion for myself and others and to be UNCONDITIONAL LOVE.<br>

            Hatha means Sun and Moon, the perfect balance; and let me tell you these teachers are Hatha! They are unbelievably amazing teachers: they have so much experience, they love to teach and share, they respect your beliefs, and are willing to give you all the tools to become the best yoga teacher in the world. They are now part of my life forever as well as my classmates, OMG! I’m pretty sure in another life they all were my siblings. Love them with all my heart.<br>

            So, do not let your fears/questions/doubts stop you to begin this journey! This training in Akasha will definitely change your life forever.<br>

            LOVE YOU – STEPH AND ALISON – WITH ALL MY HEART!”</p>
            </div>
            
        </div>
        </div>
        <br>
        
        <!--
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial</p>
            </div>
            
        </div>
        <br>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
            <img class="img-circle" src="images/profilepic.png"><br>
            <p class="testimonial-name">NAME</p>
            </div>
            
            <div class="testimonials-text">
            <p>Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial Testimonial </p>
            </div>
            
        </div>
        </div>
        -->
    </section>
    </div>
    
    <!--=========================================== Continuing Education =================================================== -->

    <div id="conEdu_tabs" class="textjustify">
    <section id="ContinuingEdu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <br><br>
                <p>Restorative yoga has best been described as “active relaxation” and is a method par excellence for attaining deep relaxation, tranquility and the many benefits of “de-stressing”. Using blankets, bolsters, pillows, blocks, straps, and other “props” to support the body, practitioners generally experience profound shifts in their nervous system, thus allowing a physiological shift to deep restfulness, calm abiding and well-being. Gravity does the “work” as the body progressively relaxes and softens. As this occurs, so do the signs and symptoms of stress, such as depressed or elevated moods, hypertension, muscle tension, digestive problems, high cholesterol levels, eyestrain, headaches and more.</p>
                <span class="glyphicon glyphicon-plus training-icon-center" onclick="conEdu_hide_info()"></span>
                <div id="conEdu_hide" class="training-hiding">
                    <p>2017 Dates posted below (45 Hours Continuing Education) with Stephanie Pafford</p>
                    <p>Restorative Yoga Workshop Saturday April 8 6-8:15pm</p>
                    <p>2 Weekends at la Jolla Location Saturday & Sunday 12-6pm<br>
                    March 25-26<br>
                    April 8-9</p>
                    <p>Prerequisites 1 year yoga</p>
                    <p>The curriculum will include:<br>
                    • Energy Body<br>
                    • Chakras<br>
                    • Body Systems (endocrine system, nervous system, etc)<br>
                    • Poses<br>
                    • Business of Yoga<br>
                    • Some Thai Yoga</p>
                    <p>Topics Covered:
                    • Energy Body
                    • Chakras
                    • Body Systems (endocrine system, nervous system, etc)
                    • Poses
                    • Business of Yoga
                    • Some Thai Yoga</p>
                    <p>Some questions you may have on CE:</p>
                    <p>Q: Are there approved providers for continuing education?<br>
                    Yes, Stephanie is a certified Continuing Education Provider thru Yoga Alliance.<br>
                    Akasha is a registered yoga school and Stephanie is a registered E-RYT 200 and 500 hour certified.
                    Registration is $600</p>
                    <p>Q: Who Can Benefit?<br>
                    A: Everyone! Whether you are a competitive athlete, marathon runner, or someone recovering from addiction, a debilitating illness, or emotional upset, these modalities can benefit you immensely. They will “meet you where you are.”</p>
                    
                    <p>Restorative Yoga is also very helpful for people who are working with the following situations:
                        <ul>
                            <li><img src="images/black.png" class="bulletpoint"> Fibromyalgia</li>
                            <li><img src="images/black.png" class="bulletpoint"> Irritable Bowel Syndrome</li>
                            <li><img src="images/black.png" class="bulletpoint"> Nervousness, Anxiety, Panic</li>
                            <li><img src="images/black.png" class="bulletpoint"> Depression</li>
                            <li><img src="images/black.png" class="bulletpoint"> Mourning</li>
                            <li><img src="images/black.png" class="bulletpoint"> Sciatica, Muscle tension</li>
                            <li><img src="images/black.png" class="bulletpoint"> Over-achieving, Perfectionism</li>
                            <li><img src="images/black.png" class="bulletpoint"> Sleeplessness and Insomnia</li>
                            <li><img src="images/black.png" class="bulletpoint"> Autoimmune illness</li>
                        
                        </ul>
                    </p>

                    <p>Possible Benefits also include:
                        <ul>
                            <li><img src="images/black.png" class="bulletpoint"> Improved Posture</li>
                            <li><img src="images/black.png" class="bulletpoint"> Relief from Back pain</li>
                            <li><img src="images/black.png" class="bulletpoint"> Relief from physical exhaustion and Fatigue</li>
                            <li><img src="images/black.png" class="bulletpoint"> Relief from chronic stress related condition (insomnia, headaches, digestive problems, etc.)</li>
                            <li><img src="images/black.png" class="bulletpoint"> Better Resistance to injury</li>
                            <li><img src="images/black.png" class="bulletpoint"> Release of lactic acid and or other toxins from areas of accumulation</li>
                            <li><img src="images/black.png" class="bulletpoint"> Improved circulation, metabolism and immunity</li>
                            <li><img src="images/black.png" class="bulletpoint"> Lower cholesterol levels</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>  
        </div>
    </div>
    </section>
    <!--===================================== Continuing Education Testimonials ============================================= -->
    
    <section id="ContinuingEduTestimonials">
    <h3 class="testimonial-header">What Other People Think</h3>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile text-center">
                <img class="img-circle" src="images/profilepic.png"><br>
                <p class="testimonial-name" id="testi5">BL</p>
            </div>
            
            <div class="testimonials-text">
            <p>“I was amazed at the depth of support provided by Stephanie Pafford and Akasha Yoga. After a mix of health issues leading to insomnia and anxiety I am so grateful I discovered Restorative Yoga at Akasha.  This yoga was able to help calm my hyperactive mind and nervous system, let me sleep and promote healing.  As an Occupational Therapist and a Board Certified Coach, I was impressed by the deep rapport Stephanie had with me and other students.  In addition, Stephanie has a deep understanding of Anatomy and Physiology and provides gentle, but potent hands on support. With so much gratitude for this yoga, I knew I wanted to become a student of Stephanie’s. As a result I have recently completed my Restorative Yoga Certification and am deeply appreciative of what I have to now share. It is hard to describe the special way Stephanie shares her heart and wisdom with her students. Akasha Yoga is absolutely filled with divine an supportive healing energy and teachers.”</p>
            </div>
            
        </div>
        </div>
        <br>
        
        <div class="container">
            
            <div class="testimonials-profile text-center">
                <img class="img-circle" src="images/profilepic.png"><br>
                <p class="testimonial-name" id="testi6">JB</p>
            </div>
            
            <div class="testimonials-text">
            <p>“Restorative Yoga; was for me, cathartic. I feel it enables us to offer classes and workshops that touch something deep within us all, at the very least the need to feel nurtured, to take for oneself. In these busy times looking after ourselves is vital and Restorative yoga does that on a profound and deep level. Stephanie’s class gives us that ability. It gives us the underpinning knowledge to make the class seem simple but is yet delivered with great knowledge of the body’s systems to ensure that people can surrender to the deep relaxation it offers. They have no need to understand that their para-sympathetic nervous system has been bought on line to enable such a sense of well-being they just know they feel the best they’ve felt for months, maybe longer, that’s for us to facilitate.<br>
            The course is a great balance between theoretical and practical enabling us to understand exactly what the student needs on all levels.<br>
            Take the course and experience it for yourself it can change your life and others too, how great is that.”</p>
            </div>
            
        </div>
        <br>
        
        <div class="testimonial-background">
        <div class="container">
            
            <div class="testimonials-profile">
                <img class="img-circle" src="images/profilepic.png"><br>
                <p class="testimonial-name" id="testi7">TJ</p>
            </div>
            
            <div class="testimonials-text">
            <p>“Stephanie’s restorative training was amazing.  We went deep into the subtle body to learn about the Koshas and the Nadis and how everything connects with our physical anatomy.  Stephanie is very knowledgeable about how our mind and body work together with our spirit and how it can affect our health.  We learned about the benefits of restorative yoga and how doing everything in a loving manner is what is most important. I loved the session on Thai yoga massage and also the one on different essential oils used in restorative classes. The group demonstrated on each other, so we got to experience how it feels to be in a restorative class as well as hands on experience.  We even were given the opportunity to assist Stephanie in one of her very popular and powerful workshops.  If you are looking to receive your certification in “Restorative yoga”, I highly recommend you train with Stephanie Pafford.”</p>
            </div>
            
        </div>
        </div>
        
    </section>
    </div>

<div class="fixed-action-btn">
    <div style="margin-bottom: 5%">
        <a class="btn-floating btn-large" href="/calendar">
            <i class="large material-icons">perm_contact_calendar</i>
        </a>
    </div>
    <div>
        <a class="btn-floating btn-large" href="#nav">
            <i class="large material-icons">navigation</i>
        </a>
    </div>
</div>









