body{
        background-color: #009688;
    }
    .move_top
    {
        margin-top: 30px;
    }
    .space{
        margin: 15px;
    }
    .movetext{
        /*border: 1px solid lightblue;
    padding-top: 90px;
    padding-right: 60px;
    padding-bottom: 120px;
    padding-left: 140px;*/
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 50px;
    margin: 50px;
    }
    /*.img { min-width:100%; max-width:100%; min-height:100%; max-height:100%;}*/

    .boxed {
        border: 2px solid white ;
        width: 350px;
        height: 242px;
        margin: 30px;
        /*margin-left: 150px;*/
    }
    .text_color
    {
        color: white;
    }
    .center{
        text-align: center;
    }
    .site_footer
    {
        background-color: #222;
        color: #fff;
        margin-top: 40px;
        padding-top: 40px;
    }
    .top{
        margin-top: -32px;
    }
    img {
    float: left;
    }
    .cat{
        margin-top: 80px;
        text-align: center;
        margin-bottom: 50px;
        color: white;
    }
    .containercat{
        
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .mobile
    {
        display: none;
    }
    .cat1{
        
        margin-bottom: 50px;
    }
    .col-centered{
 
    margin-left: 40px;
}
.adjust{
    font-size-adjust: 0.58;
}