#item_store_margin
/*{
    margin-top: 30px;
    margin-bottom: 30px;
}*/
#margin_image{
    /*margin :30px;*/
}

@media (max-width: 767px) {
    .col{
        float: none!important;
    }
}
@media (max-width: 768px) {
  .responsive {
    padding:10px 4px;
    font-size:80%;
    line-height: 1;
    text-align: center;
    margin-bottom: auto;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .responsive {
    padding:10px 9px;
    font-size:90%;
    line-height: 1.2;
    text-align: center;
    margin-bottom: auto;
  }
}