/*
Heading font: Playfair Display
Body font: Raleway
#F5F1E3 Background color (cream)
#DDDBCB Secondary background color (dark cream)
#1B9AAA Contrast color (teal)
#000000 Font color (black)
#FFFFFF Secondary font/link color (white)
#D3D3D3 Link hover color (light gray)
*/

body {
    background: #F3EFDF;
}

body, p {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 1em;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}


h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.42em;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 767px) {
    body, p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.9em;
    }

    h4 {
        font-size: 1.2em;
    }
}

a {
    color: #1B9AAA;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}

/*html,
body,
.cover {
    height: 70%;
}*/

/*.cover {
    background-size: cover;
    display: table;
    width: 100%;
    padding: 10%;
    text-align: center;
    background-color: #0F7E7E;
    color: white;
}*/

.cover {
    text-align: center;
    padding: 2% 0 2% 0;
}

/*.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
}*/

@media (max-width: 767px) {
    .responsive_page_margins {
        margin-left: 3%;
        margin-right: 3%;
    }
}

/*------------ NAVBAR ------------*/

.navbar_custom {
    background-color: #1B9AAA;
}

.navbar_custom a {
    color: #FFFFFF;
}

.navbar_custom a:hover {
    color: #D3D3D3;
    text-decoration: none;
}

/*------------ SCROLLING MENU ------------*/

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.tabs {
    /*background-color: #1B9AAA;*/
    background-color: transparent;
    /*border-top: #1B9AAA;*/
    /*border-bottom: #1B9AAA;*/
    border-top: 2px solid #1B9AAA;
    border-bottom: 2px solid #1B9AAA;
}

.tabs .tab a {
    color: #1B9AAA;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #1B9AAA;
    /*background-color: #FFFFFF;*/
    height: 100%;
    z-index: -3;
}

.tabs .tab a.active {
    /*color: #1B9AAA;*/
    color: #FFFFFF;
}

.active {
    /*border-bottom: #FFFFFF !important;*/
}

.tabs .tab a:hover {
    text-decoration: none;
    color: darkgray;
}

/*------------------------------------------------*/

.expand{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}

.bulletpoint{
    
    border-radius: 100%;
    height: 5px;
    width: 5px;
}
/*--------------------------Testimonials---------------------------*/

.testimonial-header{
    text-align: center;
    margin-bottom: 40px;
}
.testimonial-background{
    background-color: #DDDBCB;
    padding-top: 10px;
    padding-bottom: 5px;
}

@media (min-width:319px) and (max-width:767px) { 
    
    .img-circle{
        border-radius: 100%;
        height: 90px;
        width: 90px;
        margin: 10px;
    }

    .testimonials-profile{
        text-align: center;
    }
    .testimonials-text{
        text-align: center;
    }
}

@media (min-width:768px)  { 
    .img-circle{
        border-radius: 100%;
        height: 120px;
        width: 120px
    }
    .testimonial-name{
        position: relative;
        top: 10px;
    }
    #testi1{
        left: 30px;
    }
    #testi2{
        left: 23px;
    }
    #testi3{
        left: 25px;
    }
    #testi4{
        left: 30px;
    }
    #testi5{
        left: 50px;
    }
    #testi6{
        left: 50px;
    }
    #testi7{
        left: 50px;
    }
    .testimonials-profile{
        float: left;
        width: 20%;
    }
    .testimonials-text{
        float: right;
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*------------ ABOUT PAGE ------------*/

#about_container {
    width: 75%;
    margin: auto; /*centers div*/
    padding: 3% 0%;
}

#about_image {
    text-align: center;
}

#about_image img {
    width: 40vw;
}

#about_header {
    text-align: center;
}

@media (max-width: 767px) {
    #about_image img {
        margin-top: 5%;
        width: 60vw;
    }
}

/*------------ CONTACT PAGE ------------*/

#contact_infoTable {
    margin-bottom: 15%;
}

#contact_infoTable td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.contact_icons {
    text-align: right;
    padding-right: 3%;
}

#contact_mediaTable td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}


/*------------ FOOTER ------------*/

.footer_custom a {
    color: #FFFFFF;
}

.footer_custom a:hover {
    color: #D3D3D3;
    text-decoration: none;
}

.footer-media-icon {
    padding: 1%;
}

.footerImg{
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.submit{
    color: black;
    background-color: white;
    margin-top: 5px
    
}
#subsform{
    margin-top: 5px;
}

footer {
    color: white !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#footer_input{
    border: 0;
}

#form-footer-label{
    color: white;
}

.panel-footer.panel-custom{
  background-color:#1B9AAA;
  margin: 0px;
    border: 0px;
  
}
/*---------------------------------*/
@media (min-width:992px) and (max-width: 1920px){
    .footer-media-icon{
        padding: 1%;
        margin-top: 50px !important;
        float: left;
    }
    #subsform{
        margin-top: 5px;
        float: right;
        width: 50%;
    }
}