/*
Heading font: Playfair Display
Body font: Raleway
#F5F1E3 Background color (cream)
#DDDBCB Secondary background color (dark cream)
#1B9AAA Contrast color (teal)
#000000 Font color (black)
#FFFFFF Secondary font color (white)
*/

body {
    background: #F3EFDF;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

html,
body,
.cover {
    height: 70%;
}

.cover {
    background-size: cover;
    display: table;
    width: 100%;
    padding: 10%;
    text-align: center;
    background-color: #0F7E7E;
    color: white;
}

.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
}

/*------------ SCROLLING MENU ------------*/

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

/*------------------------------------------------*/

.box{
    padding: 20px;
}
/*------------------------------------------------*/

.expand{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}
/*--------------------------Testimonials---------------------------*/

.testimonial-header{
    text-align: center;
    margin-bottom: 40px;
}
.testimonial-background{
    background-color: #DDDBCB;
    padding-top: 10px;
    padding-bottom: 5px;
}
@media (min-width:319px) and (max-width:767px) { 
    
    .img-circle{
        border-radius: 100%;
        height: 90px;
        width: 90px;
        margin: 10px;
    }

    .testimonials-profile{
        text-align: center;
    }
    .testimonials-text{
        text-align: center;
    }
}

@media (min-width:768px)  { 
    .img-circle{
        border-radius: 100%;
        height: 120px;
        width: 120px
    }
    .testimonial-name{
        position: relative;
        top: 10px;
        left: 40px;
    }
    .testimonials-profile{
        float: left;
        width: 20%;
    }
    .testimonials-text{
        float: right;
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*------------ ABOUT PAGE ------------*/

#about_container {
    width: 75%;
    margin: auto; /*centers div*/
    padding: 3% 0%;
}

#about_image {
    padding-bottom: 1%;
    text-align: center;
}

#about_image img {
    width: 30vw;
}

#about_header {
    text-align: center;
}

/*------------ CONTACT PAGE ------------*/

#contact_infoTable {
    margin-bottom: 5%;
}

#contact_infoTable td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.contact_icons {
    text-align: right;
    padding-right: 3%;
}

#contact_mediaTable td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

/*------------ FOOTER ------------*/

.footer-media-icon {
    padding: 1%;
}

.footerImg{
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.submit{
    color: black;
    background-color: darkgray;
    margin-top: 5px
    
}
#subsform{
    margin-top: 5px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Georgia, Times, serif;
}
#footer_input{
    border: 0;
}

/*---------------------------------*/
@media (min-width:992px) and (max-width: 1920px){
    .footer-media-icon{
        padding: 1%;
        margin-top: 50px !important;
        float: left;
    }
    #subsform{
        margin-top: 5px;
        float: right;
        width: 50%;
    }
}