/*
Heading font: Playfair Display
Body font: Raleway
#FFFFFF Background color (white)
#DDDBCB Secondary background color (dark cream)
#137547 Contrast color (dark spring green)
#000000 Font color (black)
#FFFFFF Secondary font/link color (white)
#D3D3D3 Link hover color (light gray)
*/

body {
    background: #FFFFFF;
}

body, p {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 1em;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}


h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.42em;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 767px) {
    body, p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.9em;
    }

    h4 {
        font-size: 1.2em;
    }
}

a {
    color: #137547;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}

.btn {
    background-color: #137547;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #137547;
    color: #137547;
}

.btn-floating {
    background-color: #137547;
}

.btn-floating:hover {
    background-color: rgba(24, 154, 170, 0.8);
}

/*html,
body,
.cover {
    height: 70%;
}*/

/*.cover {
    background-size: cover;
    display: table;
    width: 100%;
    padding: 10%;
    text-align: center;
    background-color: #0F7E7E;
    color: white;
}*/

.cover {
    text-align: center;
    padding: 2% 0 2% 0;
}

/*.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
}*/

@media (max-width: 767px) {
    .responsive_page_margins {
        margin-left: 3%;
        margin-right: 3%;
    }
}

/*------------ NAVBAR ------------*/

#nav {
    box-shadow: none;
}

.navbar_custom {
    background-color: #FFFFFF;
}

.navbar_custom a {
    color: #000000;
}

.navbar_custom a:hover {
    color: #137547;
    text-decoration: underline;
    background-color: transparent;
    /*border-bottom: 5px solid #137547;*/
}

/*------------ SCROLLING MENU ------------*/

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.tabs {
    /*background-color: #1B9AAA;*/
    background-color: transparent;
    /*border-top: #1B9AAA;*/
    /*border-bottom: #1B9AAA;*/
    border-top: 2px solid #1B9AAA;
    border-bottom: 2px solid #1B9AAA;
}

.tabs .tab a {
    color: #1B9AAA;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #1B9AAA;
    /*background-color: #FFFFFF;*/
    height: 100%;
    z-index: -3;
}

.tabs .tab a.active {
    /*color: #1B9AAA;*/
    color: #FFFFFF;
}

.active {
    /*border-bottom: #FFFFFF !important;*/
}

.tabs .tab a:hover {
    text-decoration: none;
    color: darkgray;
}

/*------------------------------------------------*/

.expand{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}

.bulletpoint{
    
    border-radius: 100%;
    height: 5px;
    width: 5px;
}


/*------------------------ Sessions -------------------------------*/
#RestorativeYoga p{
    text-align: justify;
}
#NeurosculptingBlurb p{
    text-align: justify;
}
/*------------------------ Training -------------------------------*/

.textjustify{
    
    text-align: justify;
}
/*--------------------------Testimonials---------------------------*/

.testimonial-header{
    text-align: center;
    margin-bottom: 40px;
}
.testimonial-background{
    background-color: #DDDBCB;
    padding-top: 10px;
    padding-bottom: 5px;
}

@media (min-width:319px) and (max-width:767px) { 
    
    .img-circle{
        border-radius: 100%;
        height: 90px;
        width: 90px;
        margin: 10px;
    }

    .testimonials-profile{
        text-align: center;
    }
    .testimonials-text{
        text-align: center;
    }
}

@media (min-width:768px)  { 
    .img-circle{
        border-radius: 100%;
        height: 120px;
        width: 120px
    }

    .testimonials-profile{
        float: left;
        padding-top: 2%;
        width: 20%;
    }
    .testimonials-text{
        float: right;
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*------------ ABOUT PAGE ------------*/

#about_container {
    background-image: url("/images/stephanie_clipped.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left bottom;
    /*padding-top: 5%;*/
    z-index: 1;
}

#about_container_right {
    height: 700px;
    margin-left: 55%;
}

#about_content_box {
    /*width: 40%;*/
    height: 80%;
    overflow: scroll;
    /*margin: auto;*/ /*centers div*/
    margin-top: 0;
    padding: 0 15% 3% 0;
    box-shadow: -40px 10px 40px 30px rgba(255, 255, 255, .9); /*.79*/
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9); /*.76*/
}

/*#about_image {
    height: 500px;
}*/

/*#about_image img {
    text-align: center;
    width: 120%;
    vertical-align: bottom;
    position: bottom;
}*/

/*#about_image img {
    width: 40vw;
}*/

#about_header {
    text-align: center;
}

@media (max-width: 767px) {
    /*#about_image img {
        margin-top: 5%;
        width: 60vw;
    }*/

    #about_container {
        background-position: top;
    }

    #about_container_right {
        margin-left: 0;
        padding-top: 60%;
        padding-bottom: 5%;
        width: 100%;
        height: 100%;
    }

    #about_content_box {
        padding: 0 9%;
        box-shadow: none;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

/*------------ CONTACT PAGE ------------*/

#contact_infoTable {
    margin-bottom: 15%;
}

#contact_infoTable td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.contact_icons {
    text-align: right;
    padding-right: 3%;
}

#contact_mediaTable td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}


/*------------ FOOTER ------------*/

.footer_custom a {
    color: #FFFFFF;
}

.footer_custom a:hover {
    color: #D3D3D3;
    text-decoration: none;
}

.footer-media-icon {
    color: white;
    padding: 1%;
}

.footerImg{
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.submit{
    color: white;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 5px;
}

.submit:hover {
    background-color: white;
    color: #189AAA;
    border: 2px solid #189AAA;
}

#footer_input{
    border: 0;
}

#form-footer-label{
    color: white;
}
footer {
    background-color: #1B9AAA;
    font-family: 'Raleway', sans-serif;
}
.socialmedia{display: inline-block;}
.subform{display: inline-block;}
.subbutton{display: inline-block;}

/*--------------------- media queries for footer --------------------*/

@media (min-width:319px) and (max-width:1023px){
    .socialmedia{
        display: block;
        padding-top: 20px;
        text-align: center;
    }
    .subform{
        display: block;
        padding-top: 10px;
        text-align: center;
    }
    .subbutton{
        display: block;
        padding-bottom: 30px;
        text-align: center;   
    }
}
@media (min-width:1023px) and (max-width:1300px){
    .subform{
        padding-left: 36vw;
    }
}

@media (min-width:1301px) and (max-width:2000px){
    .subform{
        padding-left: 40vw;
    }
}

@media (min-width:1301px) and (max-width:1700px){
    .subform{
        padding-left: 39vw;
    }   
}

@media (min-width:1701px){
    .subform{    
        padding-left: 53vw;
    } 
}